/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.content-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
a {
    text-decoration: none;
}
.shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 0.2s;
}
p {
    font-size: 17px;
    line-height: 25px;
}
.left {
    float: left;
}


/* header */


header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(43,94,231);
    padding-top: 5px;
}
header .header-row {
    height: 60px;
}
#logo, #accedi {
    float: left;
    width: 25%;
}
#logo {
    line-height: 60px;
}
#logo img {
    vertical-align: middle;
    cursor: pointer;
}
.header-menu {
    float: left;
    width: 50%;
    line-height: 60px;
    text-align: center;
}
.header-menu li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}
.header-menu a {
    color: white;
}
.header-menu a:hover {
    text-decoration: underline;
}
#accedi {
    text-align: right;
    line-height: 60px
}
#accedi .accedi-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    color: black;
    vertical-align: middle;
    line-height: 20px;
    border-radius: 20px;
    font-size: 12px;
}


/* main */


main {
    padding-top: 65px;
}

/* jumbotron */

main .jumbotron {
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.jumbotron .jumbo-content {
    width: 45%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: white;
}
.jumbotron .jumbo-content h1 {
    font-size: 45px;
    margin-bottom: 35px;
}
.jumbotron .jumbo-content .jumbo-btns a {
    display: inline-block;
    padding: 12px 22px;
    border-radius: 22px;
    margin: 0 10px;
    margin-top: 20px;
}
#download a {
    background-color: #fff;
    color: black;
}
#download a:hover {
    color: rgb(43,94,231);
}
#open a {
    background-color: rgb(40, 40, 40);
    color: white;
}
#open a:hover {
    background-color: rgb(50, 50, 50);
}

/* main content */

#prima-sezione {
    padding-top: 50px;
}
.section-content {
    padding-top: 50px;
}
section:not(#quarta-sezione) .section-img {
    width: 60%;
}
.section-img img {
    width: 100%;
}
section:not(#quarta-sezione) .section-text {
    width: 40%;
    padding-top: 35px;
}
#prima-sezione .section-text, #terza-sezione .section-text {
    padding-left: 70px;
}
.section-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.onda svg {
    display: block;
}
#seconda-sezione, #quarta-sezione {
    background-color: rgb(246, 246, 246);
}
#seconda-sezione .section-text {
    padding-right: 70px;
}
#quarta-sezione {
    padding-bottom: 120px;
    text-align: center;
}
#quarta-sezione p {
    width: 80%;
    margin: 0 auto;
}
#quarta-sezione .call-to-action .title-stars {
    width: 60%;
    height: 60px;
    padding-top: 30px;
    margin: 0 auto;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#quarta-sezione .call-to-action .title-stars span {
    font-size: 27px;
    font-weight: 700;
}
#last-download a {
    background-color: rgb(113,137,218);
    color: white;
    display: inline-block;
    padding: 12px 22px;
    border-radius: 22px;
    margin: 0 10px;
    margin-top: 30px;
}
#last-download a:hover {
    background-color: rgba(113,137,218,0.8);
}


/* footer */

footer {
    background-color: rgb(35,39,42);
    color: white;
}
footer a {
    color: white;
}
footer h3 {
    color: rgb(113,137,218);
}
.footer-top {
    padding-top: 80px;
}
.footer-top .main-footer {
    width: 35%;
}
.footer-top .links-footer {
    width: 65%;
}
.footer-top .main-footer h3 {
    font-size: 30px;
    padding-right: 120px;
}
.main-footer .menu-lingua {
    display: inline-block;
    height: 16px;
    margin: 20px 0;
    font-size: 12px;
}
.main-footer .menu-lingua img {
    height: 16px;
    vertical-align: middle;
}
.main-footer .social a {
    margin-right: 20px;
}



/* +++ debug +++ */
/* .debug .content-container {
    background-color: grey;
} */
/* .debug header {
    background-color: skyblue;
} */
/* .debug header .header-row nav {
    background-color: red;
    height: 100%;
}
.debug #logo, .debug #accedi {
    background-color: green;
    height: 100%;
} */
/* .debug section {
    margin-top: 150px;
    height: 500px;
    background-color: grey;
    width: 100%;
}
.debug .section-img {
    height: 100%;
    background-color: skyblue;
}
.debug .section-text {
    height: 100%;
    background-color: lightyellow;
} */
.debug footer {
    height: 500px;
}
.debug .footer-top {
    height: 100%;
}
.debug .main-footer {
    height: 100%;
    /* background-color: grey; */
}
.debug .links-footer {
    height: 100%;
    background-color: skyblue;
}